@page "/ConsultaCliente"

@using AppBugaoMotoFVLE.Components.Models;
@inject ClienteDAO ClienteDAO

<div class="container-md pt-3">
    <div class="breadcrumb">
        <a href="/"> Home </a> • <a> Consultar Cliente </a>
    </div>

    ```
    <div class="border p-4 rounded">
        <h2>Consultar Cliente 🔍</h2>

        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button class="btn btn-filter"><i class="fa-solid fa-filter"></i> Filtrar</button>
            <a href="/CadastroCliente" class="btn btn-add"><i class="fi fi-sr-user-add"></i> Adicionar novo cliente</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th># </th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Cpf</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int contador = 1;
                    @foreach (var cliente in listaCliente)
                    {
                        <tr>
                            <td> @contador </td>
                            <td>@cliente.Nome</td>
                            <td>@cliente.Telefone</td>
                            <td> @cliente.Cpf </td>
                            <td>
                                <a type="button" class="btn-view" data-bs-toggle="modal" data-bs-target="#cliente-@cliente.Id"><i class="fi fi-rr-eye"></i></a>

                            </td>
                        </tr>
                        contador++;
                    }
                }

            </tbody>
        </table>
    </div>
    <!-- Modal -->
    @{
        foreach (var cliente in listaCliente)
        {
            <div class="modal fade" id="cliente-@cliente.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cliente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-12 mb-3 mt-3">
                                    <label for="nome" class="mb-1">Nome do Cliente:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Nome" aria-label="nome" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3 mt-3">
                                    <label for="telefone" class="mb-1">Telefone:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Telefone" aria-label="telefone" />
                                </div>
                                <div class="col-6 mb-3 mt-3">
                                    <label for="CPF" class="mb-1">CPF:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Cpf" aria-label="CPF" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3 mt-3">
                                    <label for="cidade" class="mb-1">Cidade:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Cidade" aria-label="cidade" />
                                </div>
                                <div class="col-6 mb-3 mt-3">
                                    <label for="estado" class="mb-1">Estado:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Estado" aria-label="estado" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3 mt-3">
                                    <label for="rua" class="mb-1">Rua:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Rua" aria-label="rua" />
                                </div>
                                <div class="col-6 mb-3 mt-3">
                                    <label for="bairro" class="mb-1">Bairro:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Bairro" aria-label="bairro" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3 mt-3">
                                    <label for="complemento" class="mb-1">Complemento:</label>
                                    <input type="text" class="form-control" placeholder="@cliente.Complemento" aria-label="complemento" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Atualizar <i class="bi bi-arrow-counterclockwise"></i></button>
                            <button type="button" class="btn btn-danger">Deletar <i class="bi bi-trash3"></i> </button>
                        </div>
                    </div>
                </div>
            </div>

        }

    }

</div>

@code {

    /* buscar id do cliente */
    private string erro = string.Empty;
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Cliente cliente1 { get; set; } = new();

    protected override void OnInitialized()
    {
        // listar os clientes
        CarregarCliente();
        // buscar o cliente
        var _cliente = ClienteDAO.BuscarPorId(Id);
        if (_cliente != null)
        {
            cliente1 = _cliente;
        }
        else
        {
            erro = "Cliente não encontrado!";
        }
    }

    private List<Cliente> listaCliente = new();

    private void CarregarCliente()
    {
        listaCliente = ClienteDAO.ListarCliente();
    }


}