@page "/ConsultaCliente"

@using AppBugaoMotoFVLE.Components.Models;
@inject ClienteDAO clienteDAO
@inject NavigationManager Navigation;

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"> Início </a> </li> <!-- Inicio é Home-->
    <li class="breadcrumb-item active"> <a class="active"> Consultar: <span> Cliente </span> </a></li>
</ol>

<div class="border p-4 rounded bg-white">
    <h2 style="border-left: 2px solid black;padding-left: 12px;">
        Consultar Cliente 🔍
    </h2>

    <div class="search-bar mb-3 d-flex gap-2">
        <input type="text" placeholder="Buscar" class="form-control" />
        <a href="/CadastroCliente" class="btn btn-add"> <i class="bi bi-plus-lg"></i> Novo Cliente</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th># </th>
                <th>Nome</th>
                <th>Telefone</th>
                <th class="col-2 text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @{
                int contador = 1;
                foreach (var cliente in listaCliente)
                {
                    <tr>
                        <td> @contador </td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Telefone</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#visualizar-@cliente.Id" class="btn btn-dark"> <i class="bi bi-eye-fill text-white"></i> </a>
                            <a href="/Atualizar-Cliente-@cliente.Id" class="btn btn-info"> <i class="bi bi-pencil-square text-white"></i> </a>
                            <a data-bs-toggle="modal" data-bs-target="#excluir-@cliente.Id" class="btn btn-danger"> <i class="bi bi-trash3-fill text-white"></i> </a>
                        </td>
                    </tr>
                    contador++;
                }
            }
        </tbody>
    </table>
</div>
 

@{
    foreach (var cliente in listaCliente)
    {
        <!-- Modal Visualizar -->
        <div class="modal fade" id="visualizar-@cliente.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> Visualizar Serviço </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-3 mt-3">
                                <label class="mb-1">Nome do Cliente:</label>
                                <input type="text" class="form-control" value="@cliente.Nome" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">Telefone:</label>
                                <input type="text" class="form-control" value="@cliente.Telefone" readonly />
                            </div>
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">CPF:</label>
                                <input type="text" class="form-control" value="@cliente.Cpf" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">Cidade:</label>
                                <input type="text" class="form-control" value="@cliente.Cidade" readonly />
                            </div>
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">Estado:</label>
                                <input type="text" class="form-control" value="@cliente.Estado" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">Rua:</label>
                                <input type="text" class="form-control" value="@cliente.Rua" readonly />
                            </div>
                            <div class="col-6 mb-3 mt-3">
                                <label class="mb-1">Bairro:</label>
                                <input type="text" class="form-control" value="@cliente.Bairro" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3 mt-3">
                                <label class="mb-1">Complemento:</label>
                                <textarea class="form-control" readonly value="@cliente.Complemento"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Excluir -->
        <div class="modal fade" id="excluir-@cliente.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <EditForm Model="cliente" OnValidSubmit="@(() => Excluir(cliente.Id))" FormName=@($"ClienteExcluir{cliente.Id}")>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"> Excluir cliente </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-center">Você tem certeza que deseja excluir o(a) cliente <strong>@cliente.Nome</strong>?. Após a exclusão não será possível recuperar esse registro.  </h5>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <a href="/ConsultaCliente" class="btn btn-info btn-lg" data-bs-dismiss="modal"> Cancelar</a>
                            <button type="submit" class="btn btn-danger  btn-lg"> Deletar </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    }
}


@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Cliente cliente1 { get; set; } = new();

    private List<Cliente> listaCliente = new();

    protected override void OnInitialized()
    {
        CarregarCliente();
        // buscar o cliente por id
        var _cliente = clienteDAO.BuscarPorId(Id);
        if (_cliente != null)
        {
            cliente1 = _cliente;
        }
        else
        {
            erro = "Cliente não encontrado!";
        }
    }

    private void Excluir(int id)
    {
        try
        {
            clienteDAO.Deletar(id);
            Navigation.NavigateTo("/ConsultaCliente");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao excluir o(a) cliente: {ex.Message}";
        }
        CarregarCliente();
    }
    private void CarregarCliente()
    {
        listaCliente = clienteDAO.ListarCliente();
    }
}
